**.glob
**.aux
**.vo
**.vok
**.vos

**~

*.log
*.nav
*.out
*.snm
*.toc
*.gz
*fls
*fdb_latexmk
*vrb
*.synctex(busy)
_minted-Slides

.coqdeps.d
.makefile.d
makefile
makefile.conf

.vscode
.lia.cache

result
